# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Logs and database
*.log
*.sqlite3

# VS Code and other IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# PyInstaller
*.spec

# PyTorch specific
*.pt
*.pth
*.ckpt
*.onnx
*.tflite

# Test cache
.tox/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover

# GitHub LFS suggestions (in case you start using it)
*.lfsconfig
